@charset "UTF-8";

/*VERSAO MOBILE FIRST*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    font-size: 1.3em;
    box-sizing: border-box;
}
html{
    height: 100vh;
}
body{
    background-image: url(../imagem/back-phone.jpg);
    background-position: center ;
    background-repeat: no-repeat;
}

main{
    background-color: rgba(255, 255, 255, 0.459);
    margin: auto;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    margin-top: 20px;
}
h1{
    font-size: 1em;
    text-align: center;
    color: aliceblue;
    text-shadow: 1px 2px 1px black;
}
img{
    margin: auto;
}

img#phone{ display: block;}
img#tablet{ display: none;}
img#pc{ display: none;}
img#print{ display: none;}
img#tv{display: none;}