@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
:root{
    --fonter1: verdana, Geneva, tahoma, sans-serif;
    --fonter2:  "Passion One", sans-serif;
    --fonter3:  "Sriracha", serif;
}
html, body{
    background-color: dark;
    min-height: 100vh;
}

section{
    font-family: var(--fonter3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 20px;   
    font-size: 4.5vw;
}
section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: rgb(255, 252, 252);
    color: #000000;
    box-shadow: inset 6px 6px 13px 0px rgb(32, 32, 32);
}

section#img1{
    background: url(imagens/pattern004.png);
}
section#img2{
    background: url(imagens/pattern001.png) center center / cover;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.562);
    color: #dfdfdf;
    padding: 20px;
    width: 400px;
}


body{
    background-color: rgb(177, 177, 177);
}
header{
    background-color: black;
    padding: 40px;
    text-align: center;
}
header > h1{
    font-family: var(--fonter2);
    color: white;
    font-size: 10vw;

}
header > p{
    padding-bottom: 10px;
    font-size: 5vw;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    color: #000000;
    text-align: center;
    padding: 5px;
    font-size: 0.5;
}