@charset "UTF-8";

html, body{
    background-color: rgb(145, 145, 145);
    height: 95vh;
}
*{
    margin: 0%;
    padding: 0%;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    height: 150px;
}
header h1{
    padding: 15px;
    font-size: 5vh;
}
header p{
    font-size: 5vh;
}

section{
    background-color: antiquewhite;
}
section.quadrado{
    background-color: rgb(248, 248, 248);
    height: 30vh;
}

section }