@charset "UTF=8";

@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
:root{
    --cor1: #264712;
    --cor2: #6FAA4A;
    --cor3: #71FF19;
    --cor4: #60804D;
    --cor5: #495541;
    --cor5: #2F332C;
    --cor6: rgb(202, 202, 202);

    --font-android: 'android', serif;
}

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: var(--cor6);
}

header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor1) );
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header h1{
    color: white;
    font-size: 1.3cm;
    text-align: center;
}
header p{
    padding-top: 10px;
    color: white;
    text-align: center;
}
nav{
    background: var(--cor1);
}
nav a{
    color: var(--cor3);
    margin: 10px;
    text-decoration: none;
}
nav a:hover{
    color: var(--cor5);
    background-color: var(--cor3);
    text-decoration: underline;
}
article h1{
    font-family: var(--font-android);
}

article{
    background-color: var(--cor4);
    padding: 0.5cm;
    margin: 0px 10px 20px 10px;
    border-radius: 0px 0px 10px 10px;
}
main ul{
    columns: 2;
}
main img.pequeno{
    width: 100%;
    display: block;
    margin: auto;
}

footer{
    background-color: var(--cor1);
    color: white; 
}
